@media (max-width: 1440px) {
  .header__logo {
    margin-right: auto;
  }

  .checkbox-items__list {
    margin-right: 50px;
  }

  .catalog__img {
    margin-right: 50px;
  }

  .address__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .address__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 1280px) {
  .header__container {
    align-items: baseline;
    flex-wrap: wrap;
  }

  .header__logo {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .header__nav {
    width: 100%;
  }

  .header__logo,
  .search-btn {
    order: -3;
  }

  .nav__list {
    justify-content: space-between;
  }
  .nav__item {
    margin-right: 0;
  }

  .catalog__img {
    max-width: 50%;
  }

  .events__item:nth-child(3) .events__descr {
    margin-bottom: 68px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
  .header {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .hero__content {
    padding: 101px 0;
  }

  .hero__descr {
    margin-bottom: 102px;
  }

  .gallery__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .checkbox-items__list {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .catalog__content {
    flex-wrap: wrap;
    width: 100%;
  }

  .catalog__img {
    margin: 0;
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
  }

  .events__item{
    width: 290px;
    min-height: 683px;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .events__item:not(:last-child) {
    margin-right: 27px;
  }

  .events__description {
    padding: 15px 34px 41px 34px;
  }

   .events__img{
    min-height: 200px;
  }

  .events__wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .events__item:nth-child(1) .events__descr {
    margin-bottom: 18px;
  }

  .events__item:nth-child(2) .events__descr {
    margin-bottom: 55px;
  }

  .events__item:nth-child(3) .events__descr {
    margin-bottom: 47px;
}

.events {
  margin-bottom: 71px;
}

.project__descr{
  margin-bottom: 20px;
}

.contacts{
  margin-bottom: 40px;
}

.footer__svg{
  width: 60px;
  height: 60px;
}

}
