html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration-line: none;
}

img {
  max-width: 100%;
}

:root {
  --color-black: #000000;
  --color-dark-charcoal: #333333;
  --сolor-granite-gray: #666666;
  --color-grey: #999999;
  --color-lavender: #d1a9f0;
  --color-lilac: #c283f3;
  --color-purple: #9d5cd0;
  --color-violet: #7943a4;
  --color-green: #30bf39;
  --color-light-blue: #26a5e4;
  --color-red: #d11616;
  --color-light-grey: #cacaca;
  --color-bright-grey: #ececec;
  --color-white: #ffffff;
  --gap: 50px;
}

.page {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 80px;
}

*:focus-visible {
  outline: 0;
}

.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.section__descr {
  color: var(--color-dark-charcoal);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.btn-reset {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header {
  padding: 28px 0;
  background-color: var(--color-black);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 179px;
}

.header__nav {
  margin-right: 303px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--color-white);
}

.nav__item:not(:last-child) {
  margin-right: 96px;
}

.search {
  fill: var(--color-white);
}

.hero {
  background-image: url("../imgs/hero__img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-dark-charcoal);
  background-size: cover;
}

.hero__content {
  padding: 146px 0;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 78px;
  font-weight: 700;
  line-height: 68px; /* 94.444% */
  color: var(--color-white);
  max-width: 579px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 92px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  color: var(--color-white);
  max-width: 579px;
}

.hero__btn {
  border-radius: 100px;
  background-color: var(--color-purple);
  padding: 24.5px 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--color-white);
}

.about-us {
  padding: 85px 0 69px 0;
}

.about-us__title {
  margin: 0;
  margin-bottom: 22px;
  color: var(--color-dark-charcoal);
}

.about-us__descr {
  margin: 0;
  max-width: 1080px;
}

.gallery {
  background-image: url("../imgs/gallery_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-dark-charcoal);
  background-size: cover;
  margin-bottom: 88px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 85px;
  color: var(--color-white);
}

.gallery__content {
  padding-bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.checkbox-items__list {
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.custom-checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
}

.custom-checkbox__input {
  position: absolute;
  opacity: 0;
}

.custom-checkbox__text {
  padding-left: 25px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-white);
}

.custom-checkbox__text::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 13px;
  width: 4px;
  height: 4px;
  border: 2px solid var(--color-lilac);
  border-radius: 100%;
  opacity: 0;
}

.custom-checkbox__input:checked + .custom-checkbox__text::before {
  border: 1px solid var(--color-lilac);
}

.custom-checkbox__input:checked + .custom-checkbox__text::after {
  opacity: 1;
}

.custom-checkbox__input:focus-visible + .custom-checkbox__text {
  outline: 2px solid var(--color-lilac);
  outline-offset: 4px;
}

.custom-checkbox__input:hover:not(:checked) + .custom-checkbox__text {
  color: var(--color-lilac);
}

.custom-checkbox__input:hover:not(:checked) + .custom-checkbox__text::before {
  border: 1px solid var(--color-lilac);
}

.gallery__list {
  display: flex;
  justify-content: space-between;
}

.gallery__item:not(:last-child) {
  margin-right: 50px;
}

.catalog {
  margin-bottom: 88px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--color-dark-charcoal);
}

.catalog__descr {
  margin: 0;
  margin-bottom: 38px;
  max-width: 1080px;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.catalog__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.catalog__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: var(--color-dark-charcoal);
}

.catalog__time {
  margin: 0;
  margin-bottom: 15px;
  color: var(--color-grey);
  font-size: 12px;
  line-height: normal;
}

.catalog-content-descr {
  margin: 0;
  max-width: 800px;
}

.catalog__item:not(:last-child) {
  margin-bottom: 50px;
}

.events {
  margin-bottom: 80px;
}

.events__title {
  margin: 0;
  margin-bottom: 18px;
}

.events__blog {
  overflow: hidden;
  border: 1px solid var(--color-light-grey);
}

.events__list {
  display: flex;
  flex-wrap: wrap;
}

.events__item {
  width: calc((100% - (var(--gap) * 2)) / 3);
}

.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__description {
  padding: 15px 50px 50px 50px;
}

.events__item:nth-child(3) .events__descr {
  margin-bottom: 102px;
}

.events__time,
.events__place {
  color: var(--color-grey);
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}

.events__time {
  margin-bottom: 15px;
}

.events__subtitle {
  margin: 0;
  margin-bottom: 15px;
  color: var(--color-dark-charcoal);
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.events__descr {
  margin: 0;
  margin-bottom: 76px;
}

.project {
  border-bottom: 1px solid var(--color-light-grey);
  margin-bottom: 40px;
}

.project__title {
  margin: 0;
  margin-bottom: 22px;
}

.project__descr {
  margin: 0;
  margin-bottom: 62px;
  max-width: 1080px;
}

.project__subtitle {
  margin: 0;
  margin-bottom: 16px;
  color: var(--color-dark-charcoal);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.project__list {
  display: flex;
  margin-bottom: 72px;
}

.project__item:not(:last-child) {
  margin-right: 35px;
}

.address{
 margin-bottom: 38px;
}

.address__blog {
  font-style: normal;
}

.address__list{
  display: flex;
  align-items: center;
}

.address__item:nth-child(1) {
  margin-right: 96px;
}

.address__item:nth-child(2) {
  margin-right: 80px;
}


.address__name {
  display: block;
  color: var(--color-dark-charcoal);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.address__place {
  color: var(--color-dark-charcoal);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.form-input{
  box-sizing: border-box;
  border: 1px solid var(--color-dark-charcoal);
  border-radius: 100px;
  padding: 9px 43px 9px 24px ;
  width: 270px;
  height: 50px;
  flex-shrink: 0;
}

.form-input{
  margin-right: 15px;
}

.form-btn{
width: 329px;
height: 50px;
flex-shrink: 0;
border-radius: 100px;
border: 2px solid var(--color-purple);
text-align: center;
font-size: 18px;
font-weight: 700;
line-height: normal;
color: var(--color-purple);
}

.connection-title{
  color: var(--color-dark-charcoal);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
.connection-list{
  display: flex;
  align-items: center;
}

.connection-item:not(:last-child) {
  margin-right: 20px;
}

.footer{
  background-color: #000000;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
}

.social-list{
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 20px;
}
