html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration-line: none;
}

img {
  max-width: 100%;
}

:root {
  --color-black: #000000;
  --color-dark-charcoal: #333333;
  --сolor-granite-gray: #666666;
  --color-grey: #999999;
  --color-lavender: #d1a9f0;
  --color-lilac: #c283f3;
  --color-purple: #9d5cd0;
  --color-violet: #7943a4;
  --color-green: #30bf39;
  --color-light-blue: #26a5e4;
  --color-red: #d11616;
  --color-light-grey: #cacaca;
  --color-bright-grey: #ececec;
  --color-white: #ffffff;
}

.page {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 80px;
}

*:focus-visible {
  outline: 0;
}

.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header {
  padding: 28px 0;
  background-color: var(--color-black);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 179px;
}

.header__nav {
  margin-right: 303px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: var(--color-white);
}

.nav__item:not(:last-child) {
  margin-right: 96px;
}

.search {
  fill: var(--color-white);
}

.hero {
  background-image: url("../imgs/hero__img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-dark-charcoal);
  background-size: cover;
}

.hero__content {
  padding: 146px 0;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 78px;
  font-weight: 700;
  line-height: 68px; /* 94.444% */
  color: var(--color-white);
  max-width: 579px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 92px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  color: var(--color-white);
  max-width: 579px;
}

.hero__btn {
  border-radius: 100px;
  background-color: var(--color-purple);
  padding: 24.5px 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: var(--color-white);
}

.about-us {
  padding: 85px 0 70px 0;
}

.about-us__title {
  margin: 0;
  margin-bottom: 22px;
  color: var(--color-dark-charcoal);
}

.about-us__descr {
  margin: 0;
  font-size: 16px;
  line-height: 32px; /* 200% */
  color: var(--color-dark-charcoal);
  max-width: 1080px;
}

.gallery {
  background-image: url("../imgs/gallery_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-dark-charcoal);
  background-size: cover;
}

.gallery__title {
  margin: 0;
  padding-top: 85px;
  color: var(--color-white);
}

.gallery__content {
  padding-bottom: 80px;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-name {
  font-size: 16px;
  line-height: 32px; /* 200% */
  color: var(--color-white);
}

.radio{
  display: flex;
  align-items: center;
}

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--color-white);
  width: 12px;
  height: 12px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-radio:focus + label::before {
  box-shadow: var(--color-lilac);
}
.custom-radio:focus:not(:checked) + label::before {
  border-color: var(--color-lilac);
}

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: var(--color-lilac);
}

.custom-radio:not(:disabled):active + label::before {
  background-color: var(--color-lilac);
  border-color: var(--color-lilac);
}

.custom-radio:checked + label::before {
  border-color: var(--color-lilac);
  background-color: transparent;
  background-image: url("../imgs/Ellipse.svg");
}

.custom-radio:disabled + label::before {
  background-color: transparent;
}
