@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration-line: none;
}

img {
  max-width: 100%;
}

:root {
  --color-black: #000000;
  --color-dark-charcoal: #333333;
  --сolor-granite-gray: #666666;
  --color-grey: #999999;
  --color-lavender: #D1A9F0;
  --color-lilac: #C283F3;
  --color-purple:#9D5CD0;
  --color-violet:#7943A4;
  --color-green:#30BF39;
  --color-light-blue:#26A5E4;
  --color-red: #D11616;
  --color-light-grey: #CACACA;
  --color-bright-grey: #ECECEC;
  --color-white: #FFFFFF;
}
